package ${packageName}.convert;

import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import org.mapstruct.factory.Mappers;

import ${packageName}.controller.vo.${businessName}.*;
import ${packageName}.dao.dataobject.${className}PO;
import java.util.List;

/**
 * ${tableComment} Convert
 *
 * @author ${author}
 */
@Mapper
public interface ${className}Convert {

    ${className}Convert INSTANCE = Mappers.getMapper(${className}Convert.class);

    // ==================== PO -> VO ====================

    /**
     * PO -> RespVO
     */
    ${className}RespVO convert(${className}PO po);

    /**
     * PO List -> RespVO List
     */
    List<${className}RespVO> convertList(List<${className}PO> list);

    // ==================== ReqVO -> PO ====================

    /**
     * SaveReqVO -> PO
     */
    ${className}PO convert(${className}SaveReqVO saveReqVO);

    /**
     * UpdateReqVO -> PO
     */
    ${className}PO convert(${className}UpdateReqVO updateReqVO);

    // ==================== 特殊映射（如需手动配置）====================

    // 示例：忽略某个字段
    // @Mapping(target = "createTime", ignore = true)
    // ${className}PO convertWithIgnore(${className}SaveReqVO saveReqVO);

}